<% model_class = Reminder %>
<h1><%= model_class.model_name.human.pluralize.titleize %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:discription) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= link_to reminder.id, reminder_path(reminder) %></td>
        <td><%= reminder.title %></td>
        <td><%= reminder.description %></td>
        <td><%= (reminder.time).in_time_zone(reminder.time_zone) %></td>
        <td><%=l (reminder.created_at).in_time_zone(reminder.time_zone) %></td>
        <td><%= link_to 'Show', reminder, class: 'btn btn-green btn-xs' %></td>
        <td><%= link_to 'Edit', edit_reminder_path(reminder), class: 'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reminder', new_reminder_path %>
